<template name="PostItem">
	<div class="post">
		<a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
		<div class="post-content">
			<h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
		<p>
			{{pluralize votes 'vote'}},
			submitted by {{author}},
			{{#linkTo route='postPage'}}
				{{pluralize commentsCount 'comment'}}
			{{/linkTo}}
			{{#if ownPost}}
				{{#linkTo route='postEdit'}}
					Edit
				{{/linkTo}}
			{{/if}}
		</p>
		</div>		
		{{#linkTo route='postPage'}}
			<span class="btn btn-default discuss">Discuss</span>
		{{/linkTo}}
	</div>
</template>
